# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar datos
*.csv
*.parquet
/Colegio/data/
/Colegio/Entregables/
/Colegio/*.zip

# Ignorar notebooks con outputs (opcional)
*.ipynb_checkpoints/

# Ignorar entornos virtuales
venv/
.env

# Ignorar configuraciones locales
.DS_Store
*.log
.fake